/*HEADER*/
header
{
	background-color: #FFFFFF;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

/*Réglages du logo et du slogan*/
.slogan
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 30px;
	margin: auto;
	text-align: center;
}
a
{
	text-decoration:none;
	color: black;
}
#Logo
{
	padding: 0px;
	margin-top: 30px;
	margin-left: 30px;
	max-width: auto;
	height: auto;
}

#Maisons
{
	margin-top: 100px;
	margin-left: 30%;
	margin-right: 20%;
	width: 50%;
	height: 50%;
}




