/*Réglages de la taille, police, des marges*/
body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}

/*HEADER*/
header
{
	background-color: #FFFFFF;
	margin: auto;						
	align-items: center;
	display: flex;
	flex-direction: column;
}
/*Réglages du logo et du slogan*/
.slogan
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 30px;
	margin: auto;
	text-align: center;
}

#Logo
{
	max-width: 100%;
	height: auto;
	margin-top: 10px; 
}

#decouverte
{
	width: 100%;
}


/*MENU NAVIGATION*/
nav
{
	padding-top: 20px;
	display: flex;
}


/*Réglages des onglets*/
.Onglet
{
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-left: 0.2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 15%;/*Modifier la largeur de l'onglet*/
	height:30%;
	margin-right: 3px;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}


/*Pour les grands onglets */
.Grandonglet
{
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
	width: 25%;/*Modifier la largeur de l'onglet*/
	height: 50%;
	margin-right: 3px;
	color: white;
	font-size: 25px;
	text-decoration: unset;
	text-align: center;
	border-radius: 10px;
}
}

.Grandonglet:hover
{
	background-color: #00AAAA;
}



.lien
{
	text-decoration: none;
	color: blue;
}

/*Le texte est souligné lorsque la souris passe dessus*/
.lien:hover
{
	text-decoration: underline;
}

/*Le texte devient rouge au moment du clic*/
.lien:active
{
	text-decoration: underline;
	color: red;
}

/*Taille de l'image point d'intérogation*/
#help
{
	width: 25px;
	height: 25px;
}

/*SECTION*/
section
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.content
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}



#titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	padding-bottom: 3px;
	padding-left: 2px;
	background-color: #990100;
	color: white;
	font-size: 20px;
}

article
{
	margin-top: 50px;
	background-color: white;
	width: 60%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	overflow: auto;
	border: 6px #990100 solid;
	border-radius: 10px;
}

/*Marges internes de l'article*/
#corps
{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.langues
{
	display: flex;
	justify-content: flex-end;
}

#francais
{
	width: 30px ;
	margin-right: 10px; 
}

#anglais
{
	width: 30px ;
	height: 20px ;
	margin-right: 10px;
}