header
{
	background-color: #FFFFFF;
	margin: auto;						
	align-items: center;
	display: flex;
	flex-direction: column;
}

/*Réglages du logo et du slogan*/
.slogan
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px; 
}
#Logo
{
	max-width: 100%;
	height: auto;
	margin-top: 10px;
}