header
{
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/*Réglages du logo et du slogan*/
.slogan
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 18px;;
}

.logoslogan
{
	text-decoration:none;
	color: black;
	text-align: center;
}
#Logo
{
	margin-top: 30px;
	max-width: 50%;
	height: auto;
}

#Maisons
{
	margin-top: 30px;
	width: 30%;
	height: 30%;
}