body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}


#formulaire
{
	margin-top: 100px;
	margin-bottom: 100px;
	display: flex;
	align-items:  center;
	flex-direction: column;
}

section
{
	font-size: 18px;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 40%;
}

option, input {
	font-size: 18px;
}

/*Réglages des onglets*/
.Onglet
{
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 100%;/*Modifier la largeur de l'onglet*/
	margin-right: 3px;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}

.input
{
	margin-bottom: 10px;
	border: 2px black solid;
	border-radius: 3px;
	background-color: #F8F8F8;
	padding: 2px;
}

.input:focus /* Quand le visiteur sélectionne le form */
{
    outline:  none;
    border: 2px black solid;
	border-radius: 3px;
    background-color: #DEDEDE;
}

.wrong
{
	font-size: 18px;
	text-decoration: unset;
	text-align: center;

	border: none;
	color: #FF0101;
}

.good
{
	font-size: 18px;
	text-decoration: unset;
	text-align: center;
	border: none;
	color: #0D9900;
}

.articlea
{
	margin-left : auto; 
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	min-width: 35%;
	max-width: 100%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	height: auto;
	overflow: auto;
	border: 6px #990100 solid;
	border-radius: 10px;
}

.titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	padding-bottom: 3px;
	padding-left: 2px;
	background-color: #990100;
	color: white;
	font-size: 22px;
}