/*Réglages de la taille, police, des marges*/
body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}

/*Réglages du bandeau de notifications*/
#notification
{
	border: 1px #007879 solid;
	border-radius: 10px;
	width: 40%;
	padding: 10px;
	background-color: #F2F2F2;
	margin-top: 70px;
	max-width: 1050px;
	max-height: 70px;
	margin-left: 100px;
	overflow: auto;
}

/*MENU NAVIGATION*/
nav
{
	display: flex;
}


.Onglet
{
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	height: 4%;
	margin-right: 3px;
	align-self: flex-end;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}


/*Pour les onglet en gris*/
.actuel
{
	text-decoration: unset;
	text-align: center;
	font-size: 17px;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #F2F2F2;
	height: 4%;
	margin-right: 3px;
	color: black;
	border-left: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	border-right: 1px #D4D4D4 solid;
	align-self: flex-end;
}

/*Pour les grands onglets */
.Grandonglet
{
	font-size: 17px;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	height: 4%;
	margin-right: 3px;
	color: white;
	text-decoration: unset;
	text-align: center;
	align-self: flex-end;
}

.Grandonglet:hover
{
	background-color: #DC143C;
}


button
{
	display: inline-block;
}


/*SECTION*/
section
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	height: 70%;
}

#titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	padding-bottom: 3px;
	padding-left: 2px;
	background-color: #990100;
	color: white;
	font-size: 20px;
}

article
{
	margin: 50px;
	background-color: white;
	width: 40%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	max-height: 500px;
	overflow: auto;
	border: 6px #990100 solid;
	border-radius: 10px;
}

/*Marges internes de l'article*/
#corps
{
	padding: 20px;

}

strong
{
	font-weight: bold;
}







/*FOOTER*/
footer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lien
{
	text-decoration: none;
	color: blue;
}

/*Le texte est souligné lorsque la souris passe dessus*/
.lien:hover
{
	text-decoration: underline;
}

/*Le texte devient rouge au moment du clic*/
.lien:active
{
	text-decoration: underline;
	color: red;
}

/*Taille de l'image point d'intérogation*/
#help
{
	width: 25px;
	height: 25px;
}

.langues
{
	display: flex;
	justify-content: flex-end;
}

#francais
{
	width: 30px ;
	margin-right: 10px; 
}

#anglais
{
	width: 30px ;
	height: 20px ;
	margin-right: 10px;
}