/*Réglages de la taille, police, des marges*/
body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}




/*MENU NAVIGATION*/
nav
{
	display: flex;
}




/*Réglages des onglets*/
.Onglet
{
	margin-left: 0.2%;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	align-self: flex-end;
}

.Onglet_alerte
{
	margin-left: 0.2%;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #000000;
	background-color: #F0E36B;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	align-self: flex-end;
}

.Conso
{
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	align-self: flex-end;
	margin-left: 35%;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}

.Conso:hover
{
	background-color: #DC143C;
}


/*Pour les onglet en gris*/
.actuel
{
	margin-left: 0.2%;
	text-decoration: unset;
	text-align: center;
	font-size: 17px;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #F2F2F2;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	color: black;
	border-left: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	border-right: 1px #D4D4D4 solid;
	align-self: flex-end;
}

/*Pour les grands onglets */
.Grandonglet
{
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 15%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	color: white;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	align-self: flex-end;
}

.Grandonglet:hover
{
	background-color: #DC143C;
}






/*SECTION*/
section
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	height: 85%;
}

#titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	padding: 10px;
	background-color: #990100;
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.Routine
{
	border-radius: 8px;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 5px;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
	width: 7%;/*Modifier la largeur de l'onglet*/
}


article
{
	margin: 80px;
	background-color: white;
	width: 70%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	max-height: 500px;
	overflow: auto;
	border: 3px #990100 solid;
	border-radius: 10px;
  
}

/*Marges internes de l'article*/
#corps
{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}



.Titre
{
	text-align: left;
	margin: 0px;
	padding-top: 15px;
	padding-left: 15px;
}

.Affichage
{
	text-align: right;
	margin: 0;
	padding-top: 15px;
	padding-right: 15px;
}

#Add
{
	margin-top: 11px;
}

.BoiteVide
{
	display: flex;
	justify-content: space-between;
}
.BoiteVide
{
	display: flex;
	justify-content: space-between;
}

.Capteurs
{
    margin: 20px;
    width: 200px;
    height: 130px;
    text-align: center;
    border: 2px #007879 solid;
    color: #006579;
    background-color: #F2F2F2;
    border-radius: 10px;
    overflow: auto;
	padding: 0;
}

.Capteur_alerte
{
    margin: 20px;
    width: 200px;
    height: 130px;
    text-align: center;
    border: 2px #007879 solid;
    color: #006579;
    background-color: #F0E36B;
    border-radius: 10px;
    overflow: auto;
	padding: 0;
}


img
{
	margin: 0;
	padding: 0;
}


.bouton:hover
{
	font-weight: bold;
}

.bouton_gris
{
	color: #666666;
}

.bouton_gris:hover
{
	font-weight: bold;
}