/*Réglages de la taille, police, des marges*/
body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}

/*MENU NAVIGATION*/
nav
{
	display: flex;
	width: 100%;
}


/*Réglages des onglets*/

.supprimer{
	margin: 5px;
	/*margin-left: 10px;
	margin-right: 10px;*/
	text-decoration: unset;
	color: grey;
	font-size: 9px;
}

 .supprimer:hover{
 	color: #990100;
 }

 .plus{
 	text-decoration: unset;
 	font-size: 70px;
 	color: #007978;
 }

 .plus:hover{
 	color: #990100;
 }

.supprimer_conteneur{
	display: flex;
	/*justify-content: flex-end;*/
	justify-content: center;
}
.Vide
{
	margin-left: 0.2%;
	font-size: 20px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	/*width: 9%;Modifier la largeur de l'onglet*/
	height: 4%;
	align-self: flex-end;
	flex:1;
}

.Onglet
{
	margin-left: 0.2%;
	font-size: 20px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	/*width: 11%;Modifier la largeur de l'onglet*/
	height: 21px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 21px;
	align-self: flex-end;
}

.nouvel_onglet
{
	margin-left: 0.2%;
	font-size: 20px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #701c1c;
	width: 3%;/*Modifier la largeur de l'onglet*/
	height: 21px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 21px;
	align-self: flex-end;
}

.Onglet_alerte
{
	margin-left: 0.2%;
	font-size: 20px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #000000;
	background-color: #F0E36B;
	/*width: 11%;Modifier la largeur de l'onglet*/
	height: 21px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 21px;
	align-self: flex-end;
}

.Conso
{
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	margin-left: 0.2%;
	border: none;
	color: #FFFFFF;
	background-color: #701c1c;
	/*width: 9%;Modifier la largeur de l'onglet*/
	height: 21px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 21px;
	align-self: flex-end;
	float:right;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}

.nouvel_onglet:hover
{
	background-color: #DC143C;
}

.Conso:hover
{
	background-color: #DC143C;
}


/*Pour les onglet en gris*/
.actuel
{
	margin-left: 0.2%;
	text-decoration: unset;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #F2F2F2;
	/*width: 11%;Modifier la largeur de l'onglet*/
	height: 21px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 21px;
	color: black;
	border-left: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	border-right: 1px #D4D4D4 solid;
	align-self: flex-end;
}

/*Pour les grands onglets */
.Grandonglet
{
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 15%;/*Modifier la largeur de l'onglet*/
	height: 21px;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 21px;
	color: white;
	font-size: 20px;
	text-decoration: unset;
	text-align: center;
	align-self: flex-end;
}

.Grandonglet:hover
{
	background-color: #DC143C;
}

.message_d_erreur{
	color : red;
	font-style: italic;
}


.editer
{
	text-align:left;
	font-size: 17px;
}
.editer:hover
{
	background-color: #00AAAA;
}

section
{
	font-size: 18px;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
}

input, select, option{
	font-size: 18px;
}

.article_large
{
	margin: 50px;
	background-color: white;
	width: 70%;
	border: 3px #990100 solid;
	border-radius: 10px;
	justify-content: center;
}

.article_etroit
{
	margin: 50px;
	background-color: white;
	width: 40%;
	border: 3px #990100 solid;
	border-radius: 10px;
	justify-content: center;
}

.editer
{
	border-radius: 8px;
	font-size: 20px;
	text-decoration: unset;
	text-align: center;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
}

#corps
{
	text-align:justify;
	font-size: 18px;
	margin: 30px;
	padding-bottom: 15px;
}



.titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	font-size: 22px;
}



em
{
	font-style:normal;
	margin: 15px;
}

.conteneur_editer{
	display: flex;
	justify-content: center;
}

.conteneur_deux_editer{
	display: flex;
	justify-content: space-around;
}

.categorie{
	font-size: 22px;
	color: #990100;
}

.sous-titre{
	font-size: 18px;
	color: #007978;
	font-weight: bold;
}

.bleu{
	color: #007978;
}


.message{
	color: red;
	font-style: italic;
}