/*Réglages de la taille, police, des marges*/
body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}



/*MENU NAVIGATION*/
nav
{
	display: flex;
}


/*Réglages des onglets*/
.Onglet
{
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	margin-right: 3px;
	align-self: flex-end;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}


/*Pour les onglet en gris*/
.actuel
{
	text-decoration: unset;
	text-align: center;
	font-size: 17px;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #F2F2F2;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	margin-right: 3px;
	color: black;
	border-left: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	border-right: 1px #D4D4D4 solid;
	align-self: flex-end;
}

/*Pour les grands onglets */
.Grandonglet
{
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 15%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	margin-right: 3px;
	color: white;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	align-self: flex-end;
}

.Grandonglet:hover
{
	background-color: #DC143C;
}






/*SECTION*/
.overall
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: line;
	flex-wrap: wrap;
	align-items: center;

}

.right
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: auto;

}

.left
{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: auto;

}
.titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	padding-bottom: 3px;
	padding-left: 2px;
	background-color: #990100;
	color: white;
	font-size: 20px;
}


.articlea
{
	margin: 10px;
	background-color: white;
	width: 120%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	height: 40%;
	overflow: auto;
	border: 6px #990100 solid;
	border-radius: 10px;
}

.articleb
{
	margin: 10px;
	background-color: white;
	width: 100%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	height: 10%;
	overflow: auto;
	border: 6px #990100 solid;
	border-radius: 10px;
}

.articlec
{
	margin: 10px;
	background-color: white;
	width: 100%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	height: 50%;
	overflow: auto;
	border: 6px #990100 solid;
	border-radius: 10px;
}

/*Marges internes de l'article*/
.corps
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 0px;
}

.corps2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: -10px;
	text-align: center;
}

.form
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: center;	
}
.input
{
	border: 2px #990100 solid;
	border-radius: 3px;
	background-color: #F8F8F8;
	padding: 2px;
}

.inputm
{
	border: 2px #990100 solid;
    border-radius: 10px;
    background-color: #F8F8F8;
    padding: 5px;

}

.inputm:focus /* Quand le visiteur sélectionne le form */
{
    outline:  none;
    border: 2px black solid;
    border-radius: 10px;
    background-color: #DEDEDE;
}

.input:focus /* Quand le visiteur sélectionne le form */
{
    outline:  none;
    border: 2px black solid;
	border-radius: 3px;
    background-color: #DEDEDE;
}
/*Réglages du bouton de deconnexion*/


.boutona
{
	font-size: 17px;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
	border-radius: 10px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	height: 3%;
	margin: 30px;
	overflow: auto;
	width: 16%;
}

.boutona:hover
{
	background-color: #00AAAA;
}

.boutonb
{
	font-size: 20px;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
	border-radius: 10px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	height: 3%;
	margin: 30px;
	overflow: auto;
	width: 50%;
}

.boutonb:hover
{
	background-color: #00AAAA;
}

.boutonc
{
	font-size: 17px;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
	border-radius: 10px;
	text-decoration: unset;
	text-align: center;
	padding: 5px;
	height: 2%;
	margin: 10px;
	overflow: auto;
	width: 30%;
}

.boutonc:hover
{
	background-color: #00AAAA;
}

/*Le bouton de deconnexion change de couleur lorsque la souris passe dessus*/
.bouton:hover
{
	background-color: #DC143C;
}

strong
{
	font-weight: bold;
	color: #007879;
}

textarea 
{
    resize: none;
}

.vmessage
{
	font-size: 15px;
}