/*Réglages de la taille, police, des marges*/
body
{
	font-family: 'Eras full',Calibri,serif;
	font-size: 13px;
	margin: auto;
}

/*MENU NAVIGATION*/
nav
{
	display: flex;
}


/*Réglages des onglets*/
.Onglet
{
	margin-left: 0.2%;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	align-self: flex-end;
}

.editer
{
	border-radius: 8px;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 5px;
	border: none;
	color: #FFFFFF;
	background-color: #007879;
	width: 15%;/*Modifier la largeur de l'onglet*/
}


.Conso
{
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	align-self: flex-end;
	margin-left: 35%;
}

/*L'onglet' change de couleur lorsque la souris passe dessus*/
.Onglet:hover
{
	background-color: #DC143C;
}

.Conso:hover
{
	background-color: #DC143C;
}


/*Pour les onglet en gris*/
.actuel
{
	margin-left: 0.2%;
	text-decoration: unset;
	text-align: center;
	font-size: 17px;
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #F2F2F2;
	width: 9%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	color: black;
	border-left: 1px #D4D4D4 solid;
	border-top: 1px #D4D4D4 solid;
	border-right: 1px #D4D4D4 solid;
	align-self: flex-end;
}

/*Pour les grands onglets */
.Grandonglet
{
	padding: 10px;
	margin-top: 2%;
	border: none;
	color: #FFFFFF;
	background-color: #990100;
	width: 15%;/*Modifier la largeur de l'onglet*/
	height: 4%;
	color: white;
	font-size: 17px;
	text-decoration: unset;
	text-align: center;
	align-self: flex-end;
}

.Grandonglet:hover
{
	background-color: #DC143C;
}





/*SECTION*/
section
{
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
}

.titre /*Titre de l'article contenu dans le bandeau. Pour avoir une section sans titre, mettre le paragraphe qui suit en commentaire*/
{
	display: flex;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 2px;
	padding-right: 20px;
	background-color: #990100;
	color: white;
	font-size: 20px;
}

#texte
{
	margin-left: 7px;
}

article
{
	margin: 30px;
	margin-left: 15px;
	padding-bottom: 20px;
	background-color: white;
	width: 25%;/*Modifier la largeur du rectangle blanc. Attention à bien la laisser en pourcentage*/
	overflow: auto;
	border: 4px #990100 solid;
	border-radius: 10px;
}

/*Marges internes de l'article*/
#corps
{
	padding: 20px;
}